extends layout

block content
    h1.
        Orders List
    ul
        each order in orderlist
            li= "Order No: " + order.order_no
            p= "Customer ID: " + order.customer_ID
            p= "Product Name: " + order.product_name
            p= "Manufacturer Name: " + order.manf_name
            p= "Quantity: " + order.quantity
            p= "Order Date: " + order.order_date
            p= "Customer Name: " + order.customer_name
            p= "Date of Birth: " + order.DoB
            p= "Zip: " + order.zip
            p= "State: " + order.state
            p= "City: " + order.city
            p= "Street: " + order.street
            p= "House No: " + order.house_no
            p= "Customer Email: " + order.customer_email